.margin1 {
    margin-left: 60px;
}
.margin2 {
    margin-left: 100px;
}
.margin3 {
    margin-left: 140px;
}
.margin4 {
    margin-left: 180px;
}
.margin5 {
    margin-left: 220px;
}
.margin6 {
    margin-left: 260px;
}
