.margin1 {
    margin-right: 60px;
}
.margin2 {
    margin-right: 100px;
}
.margin3 {
    margin-right: 140px;
}
.margin4 {
    margin-right: 180px;
}
.margin5 {
    margin-right: 220px;
}
.margin6 {
    margin-right: 260px;
}
